commonwell_error_digest_approach3 (5).json
{
  "name": "CommonWell Error Digest (Approach 3, Teams)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "c8c8f001-0001-4001-8001-000000000001",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -700,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "asg-session",
              "name": "sessionJson",
              "type": "string",
              "value": "PASTE_THE_CONTENTS_OF_session.json_HERE"
            },
            {
              "id": "asg-webhook",
              "name": "teamsWebhookUrl",
              "type": "string",
              "value": "PASTE_YOUR_TEAMS_WEBHOOK_URL_HERE"
            },
            {
              "id": "asg-window",
              "name": "windowMinutes",
              "type": "number",
              "value": 30
            },
            {
              "id": "asg-tz",
              "name": "portalTimeZone",
              "type": "string",
              "value": "America/New_York"
            },
            {
              "id": "asg-pagesize",
              "name": "pageSize",
              "type": "number",
              "value": 100
            }
          ]
        },
        "options": {}
      },
      "id": "c8c8f001-0001-4001-8001-000000000002",
      "name": "Session + Filters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Step 1: fetch all transactions in the window (paged), find failures,\n// group them, fetch BindTransactionLogsHistory for ONE representative per\n// group, extract the error line, and build a Teams digest. All in one Code\n// node using this.helpers.httpRequest (avoids the HTTP node gzip/socket bug).\n\nconst input = $input.first().json;\n\nlet session;\ntry {\n  session = typeof input.sessionJson === 'string' ? JSON.parse(input.sessionJson) : input.sessionJson;\n} catch (e) { throw new Error('sessionJson is not valid JSON.'); }\nif (!session.cookies || !session.token) throw new Error('session.json missing cookies or token. Re-run login.');\n\nconst cookie = session.cookies.map(c => `${c.name}=${c.value}`).join('; ');\nconst token = session.token;\nconst base = (session.portalUrl || 'https://integration.commonwellalliance.lkopera.com/').replace(/\\/$/, '');\nconst gridUrl = base + '/TransactionLogs/BindTransactionLogs';\nconst histUrl = base + '/TransactionLogs/BindTransactionLogsHistory';\n\nconst windowMinutes = input.windowMinutes || 30;\nconst pageSize = input.pageSize || 100;\nconst portalTz = input.portalTimeZone || 'America/New_York';\nconst enc = encodeURIComponent;\n\nfunction fmtInTz(d, tz) {\n  const parts = new Intl.DateTimeFormat('en-US', { timeZone: tz, year:'numeric',month:'numeric',day:'numeric',hour:'numeric',minute:'2-digit',second:'2-digit',hour12:true }).formatToParts(d);\n  const p = {}; for (const x of parts) p[x.type] = x.value;\n  return `${p.month}/${p.day}/${p.year} ${p.hour}:${p.minute}:${p.second} ${p.dayPeriod}`;\n}\nconst now = new Date();\nconst fromDate = fmtInTz(new Date(now.getTime() - windowMinutes*60000), portalTz);\nconst toDate = fmtInTz(now, portalTz);\n\nasync function post(url, bodyObj) {\n  const body = Object.keys(bodyObj).map(k => `${enc(k)}=${enc(bodyObj[k])}`).join('&');\n  const r = await this.helpers.httpRequest({\n    method:'POST', url,\n    headers:{ 'Cookie':cookie, 'Content-Type':'application/x-www-form-urlencoded; charset=UTF-8', 'X-Requested-With':'XMLHttpRequest', 'Accept':'*/*', 'Origin':base, 'Referer':base+'/TransactionLogs/index' },\n    body, json:false\n  });\n  let resp = r;\n  if (typeof resp === 'string') {\n    const t = resp.trim();\n    if (t.startsWith('<')) throw new Error('Got HTML instead of JSON \u2014 session expired. Re-run login.');\n    resp = JSON.parse(t);\n  }\n  return resp;\n}\n\n// --- fetch failures directly by status (ServerError + ClientError) ---\n// Far lighter than pulling everything: the portal filters server-side.\nfunction gridBody(page, statusFilter) {\n  return { sort:'transactionId-asc', page:String(page), pageSize:String(pageSize), group:'', filter:'', Status:statusFilter, FromDate:fromDate, ToDate:toDate, organizationId:'', MemberId:'', TransactionType:'', TransactionId:'', before:'', after:'', __RequestVerificationToken:token };\n}\n\nasync function fetchAllForStatus(statusFilter) {\n  let out = [];\n  let pg = 1;\n  const f = await post.call(this, gridUrl, gridBody(pg, statusFilter));\n  const tot = (f && (f.Total||f.total)) || 0;\n  out = out.concat((f && (f.Data||f.data)) || []);\n  while (out.length < tot && pg < 200) {\n    pg++;\n    const nx = await post.call(this, gridUrl, gridBody(pg, statusFilter));\n    const nr = (nx && (nx.Data||nx.data)) || [];\n    if (!nr.length) break;\n    out = out.concat(nr);\n  }\n  return out;\n}\n\nconst errorStatuses = ['ServerError', 'ClientError'];\nlet failures = [];\nconst diag = { fromDate, toDate, perStatus: {} };\nfor (const st of errorStatuses) {\n  const got = await fetchAllForStatus.call(this, st);\n  diag.perStatus[st] = got.length;\n  failures = failures.concat(got);\n}\n\n// DIAGNOSTIC: if nothing came back by status filter, also do one 'All' query\n// to see whether the window itself is empty vs. the status filter is the problem.\nif (failures.length === 0) {\n  let allCount = 0;\n  let sampleStatuses = [];\n  try {\n    const allRows = await fetchAllForStatus.call(this, 'All');\n    allCount = allRows.length;\n    sampleStatuses = [...new Set(allRows.map(r => r.status))].slice(0, 10);\n  } catch (e) {}\n  return [{ json: {\n    hasErrors:false, errorCount:0, totalCount:0,\n    window:`${fromDate} - ${toDate}`, portalTz,\n    webhookUrl:input.teamsWebhookUrl, items:[],\n    _diagnostic: {\n      ...diag,\n      allStatusQueryCount: allCount,\n      distinctStatusesSeen: sampleStatuses,\n      note: 'If allStatusQueryCount > 0 but perStatus are 0, the Status filter strings are wrong \u2014 check distinctStatusesSeen for the real values. If allStatusQueryCount is also 0, the date window has no transactions (widen windowMinutes).'\n    }\n  } }];\n}\n\n// --- list each failure individually (no grouping), enrich with detail ---\nfunction histBody(txId) {\n  return { sort:'TimeStampDisplay-asc', page:'1', pageSize:'50', group:'', filter:'', TransactionId:txId, __RequestVerificationToken:token };\n}\n\nasync function fetchDetailHtml(txId) {\n  const boundary = '----n8nFormBoundary' + Math.random().toString(16).slice(2);\n  const body = `--${boundary}\\r\\nContent-Disposition: form-data; name=\"transactionId\"\\r\\n\\r\\n${txId}\\r\\n--${boundary}--\\r\\n`;\n  const r = await this.helpers.httpRequest({\n    method:'POST', url: base + '/TransactionLogs/LoadTransactionLogsDetailPartialView',\n    headers:{\n      'Cookie':cookie,\n      'Content-Type':`multipart/form-data; boundary=${boundary}`,\n      '__requestverificationtoken': token,\n      'X-Requested-With':'XMLHttpRequest', 'Accept':'*/*',\n      'Origin':base, 'Referer':base+'/TransactionLogs/index'\n    },\n    body, json:false\n  });\n  return typeof r === 'string' ? r : '';\n}\n\nfunction pickField(html, label) {\n  const re = new RegExp(label.replace(/[.*+?^${}()|[\\]\\\\]/g,'\\\\$&') + '\\\\s*:?\\\\s*</label>\\\\s*<span[^>]*>([\\\\s\\\\S]*?)</span>', 'i');\n  const m = html.match(re);\n  if (!m) return null;\n  return m[1].replace(/<[^>]+>/g,'').replace(/\\s+/g,' ').trim() || null;\n}\n\n// safety cap so a huge error burst can't run forever / exhaust memory\nconst MAX_DETAIL = 50;\nconst list = [];\nfor (let i = 0; i < failures.length; i++) {\n  const f = failures[i];\n  const txId = f.transactionId;\n  let reason = '';\n  let detail = {};\n  if (i < MAX_DETAIL) {\n    try {\n      const hist = await post.call(this, histUrl, histBody(txId));\n      const steps = (hist && (hist.Data||hist.data)) || [];\n      const errLine = steps.find(s => (s.logLevel||'').toLowerCase() === 'error');\n      if (errLine) reason = errLine.message;\n    } catch (e) { reason = 'history error: ' + (e.message||e); }\n    try {\n      const html = await fetchDetailHtml.call(this, txId);\n      detail = {\n        statusCode: pickField(html, 'Status Code'),\n        httpMethod: pickField(html, 'Http Method'),\n        path: pickField(html, 'Path'),\n        host: pickField(html, 'Host')\n      };\n    } catch (e) {}\n  } else {\n    reason = '(detail skipped \u2014 over ' + MAX_DETAIL + ' failures)';\n  }\n  if (reason.length > 500) reason = reason.slice(0,500) + '\\u2026';\n  list.push({\n    transactionId: txId,\n    transactionType: f.transactionType || 'Unknown',\n    status: f.status || 'Error',\n    timestamp: f.Timestamp || f.startedAt || '',\n    reason, detail\n  });\n}\n\nreturn [{ json: { hasErrors:true, errorCount:failures.length, totalCount:failures.length, window:`${fromDate} - ${toDate}`, portalTz, webhookUrl:input.teamsWebhookUrl, items:list } }];"
      },
      "id": "c8c8f001-0001-4001-8001-000000000003",
      "name": "Fetch + Diagnose",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -260,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build the Teams MessageCard listing each failed transaction (no grouping).\nconst d = $input.first().json;\n\nlet card;\nif (!d.hasErrors) {\n  card = {\n    '@type':'MessageCard', '@context':'http://schema.org/extensions',\n    themeColor:'2EB67D', summary:'CommonWell: all clear',\n    title:'\\u2705 CommonWell: no errors',\n    sections:[{ facts:[\n      { name:'Window', value:`${d.window} (${d.portalTz||'ET'})` }\n    ]}]\n  };\n} else {\n  const sections = (d.items||[]).map(it => {\n    const det = it.detail || {};\n    const lines = [];\n    if (det.statusCode) lines.push('HTTP ' + det.statusCode + (det.httpMethod ? ' (' + det.httpMethod + ')' : ''));\n    if (det.path) lines.push('Path: ' + det.path);\n    if (det.host) lines.push('Host: ' + det.host);\n    if (it.reason) lines.push(it.reason);\n    const ctx = lines.length ? '```\\n' + lines.join('\\n') + '\\n```' : '';\n    return {\n      activityTitle: `**${it.transactionType}** \\u2014 ${it.status}`,\n      activitySubtitle: `${it.timestamp}  \\u00b7  ${it.transactionId}`,\n      text: ctx\n    };\n  });\n  card = {\n    '@type':'MessageCard', '@context':'http://schema.org/extensions',\n    themeColor:'D70000',\n    summary:`CommonWell: ${d.errorCount} failed transactions`,\n    title:`\\u26a0\\ufe0f CommonWell: ${d.errorCount} failed transaction(s)`,\n    sections:[{ facts:[\n      { name:'Window', value:`${d.window} (${d.portalTz||'ET'})` },\n      { name:'Failed', value:String(d.errorCount) }\n    ]}].concat(sections)\n  };\n}\n\nreturn [{ json: { hasErrors:d.hasErrors, webhookUrl:d.webhookUrl, teamsCard:card } }];"
      },
      "id": "c8c8f001-0001-4001-8001-000000000004",
      "name": "Build Teams Card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c-err",
              "leftValue": "={{ $json.hasErrors }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c8c8f001-0001-4001-8001-000000000005",
      "name": "Any Errors?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        180,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.webhookUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.teamsCard) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "c8c8f001-0001-4001-8001-000000000006",
      "name": "Post To Teams",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        220
      ]
    },
    {
      "parameters": {
        "content": "## Approach 3 \u2014 grouped error digest\n\nEvery 30 min:\n1. Fetch all transactions in the last 30 min (Eastern, paged)\n2. Find failures (status != Successful)\n3. Group by transactionType + status\n4. Fetch **BindTransactionLogsHistory** for ONE rep per group\n5. Extract the `logLevel: Error` message (the real reason)\n6. Post a grouped digest to Teams \u2014 only when there are errors\n\nSo 18 identical GetBinary_R4 failures = 1 history fetch + 1 line,\nnot 18 of each.\n\n## Setup (paste 2 values into Session + Filters)\n- **sessionJson** \u2014 full contents of session.json\n- **teamsWebhookUrl** \u2014 your Teams webhook URL\n\n## Add Gemini later (optional)\nAfter Fetch + Diagnose, the `groups[].reason` holds the raw error\nmessage. To get a plain-English summary, add a node that sends each\nreason to Vertex AI / Gemini and replaces it before Build Teams Card.\n\n## Notify on every run (even all-clear)\nDelete the Any Errors? node and wire Build Teams Card -> Post To Teams.\nThe card shows green when clear.\n\n## Daily\nsession.json expires (~a day). Re-run node login.js and re-paste.",
        "height": 500,
        "width": 440
      },
      "id": "c8c8f001-0001-4001-8001-000000000007",
      "name": "Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -700,
        -260
      ]
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Session + Filters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session + Filters": {
      "main": [
        [
          {
            "node": "Fetch + Diagnose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch + Diagnose": {
      "main": [
        [
          {
            "node": "Build Teams Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Teams Card": {
      "main": [
        [
          {
            "node": "Any Errors?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Errors?": {
      "main": [
        [
          {
            "node": "Post To Teams",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}